* {
    font-family: 'Roboto', sans-serif;
}
.fc-popover {
    background-color: white !important;
}
#calendar .fc-event-container:hover {
    cursor: pointer;
}
.react-datepicker-wrapper {
    margin-left: 16px;
    margin-top: 42px;
}
.react-datepicker__input-container > input {
    width: 200px;
}
#calendar .fc-future {
    cursor: cell;
    font-size: 11.75px;
}
#calendar .fc-past {
    /* background-color: lightgray; */
}
#visit-days .fc-body:hover {
    cursor: pointer;
}
.fc-visitday {
    cursor: default;
}