* {
    font-family: 'Roboto', sans-serif;
}
.fc-popover {
    background-color: white !important;
}
.fc-event-container:hover {
    cursor: pointer;
}
.react-datepicker-wrapper {
    margin-left: 16px;
    margin-top: 42px;
}
.react-datepicker__input-container > input {
    width: 200px;
}
.fc-body {
    cursor: cell;
    font-size: 11.75px;
}